@import-normalize;
/* reset body and html css */
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 700px;
    padding: none;
    width: 100%;
    /* background-image:  */
    /* linear-gradient(to bottom, rgba(85, 104, 210, 0.383), rgba(0, 0, 0, 0.842)), */
    /* url(https://images.unsplash.com/photo-1606247357835-d27fe83fc6a3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3RhcnJ5JTIwbmlnaHR8ZW58MHx8MHx8&w=1000&q=80); */
    background-size: cover;
    background-position: center;
}

.home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: none;
}
.hero-p-img {
    margin-bottom: 10px;
}

.hero-image { 
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
}

.landing-content {
    margin:auto;
    min-height: 100px;
}

.gettoknowbutton {
    margin: 0.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    /* deep night blue */
    background-color: #1a1a6f00;
    color: white;
    font-size: 1.6rem;
    text-decoration: none;
    text-align: center;
}
.gettoknowbutton:hover {
    opacity: 0.8;
    cursor: pointer;
}
.nav-button {
    /* place the button on the bottom of the container */
    position: absolute;
    bottom: 25px;
}

.section {
}
.content-container {
    max-width: 90%;
    padding: 2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* min-height: 700px; */
    padding: 2rem;
    /* background-image:  */
    /* linear-gradient(to bottom, rgba(85, 104, 210, 0.383), rgba(0, 0, 0, 0.842)), */
    /* url(https://images.unsplash.com/photo-1606247357835-d27fe83fc6a3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3RhcnJ5JTIwbmlnaHR8ZW58MHx8MHx8&w=1000&q=80); */
    background-size: cover;
    background-position: center;
}

.s1 {
    background-image: 
    linear-gradient(to bottom, rgba(85, 104, 210, 0.383), rgba(0, 0, 0, 0.842)),
    url(https://images.unsplash.com/photo-1606247357835-d27fe83fc6a3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3RhcnJ5JTIwbmlnaHR8ZW58MHx8MHx8&w=1000&q=80);
    /* background-color: rgb(66, 89, 152); */
    background-size: cover;
}
.slide1 {
    background-color: rgb(99, 152, 66);
}
.slide2 {
    background-color: rgb(66, 152, 112);
}
.s3 {
    background-color: rgb(152, 66, 66);
}
.s4 {
    padding: 40px;
}
.s5 {
    background-color: rgb(66, 89, 152);
}