body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
  background-color: #fff;
  margin: none;
  padding: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}